<h2>About Us</h2>
<p> Welcome to FYi Start Up. We are a community of developers, entrepeneurs, consultants and investors who are interested in sharing ideas and providing our skills to help develop start ups </p>