 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.navbar {
    // Gradient from http://uigradients.com

background: #ffb347; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}